@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <h4>OVERVIEW</h4>
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" >
            <div class="tile-stats" style="border:2px solid #808080">
                <div class="icon"><i class="fa fa-user-md"></i></div>
                <div class="count">250</div>
                <h3>Bookings</h3>
                <p>Lorem ipsum psdea itgum rixt.</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats" style="border:2px solid #808080">
                <div class="icon"><i class="fa fa-comments-o"></i></div>
                <div class="count">12</div>
                <h3>Enquiries</h3>
                <p>Lorem ipsum psdea itgum rixt.</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats" style="border:2px solid #808080">
                <div class="icon"><i class="fa fa-calendar"></i></div>
                <div class="count">125</div>
                <h3>Sessions</h3>
                <p>Lorem ipsum psdea itgum rixt.</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats" style="border:2px solid #808080">
                <div class="icon"><i class="fa fa-check-square-o"></i></div>
                <div class="count">1012</div>
                <h3>App Users</h3>
                <p>Lorem ipsum psdea itgum rixt.</p>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <hr />
    <h4>QUICK LINKS</h4>

    <div class="row top_tiles">
        <div class="animated flipInY col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="tile-stats" style="border:2px solid #1c6cbc;background-color:#1c6cbc">
                <div class="icon"><i class="fa fa-plus-square-o"></i></div>
                <div class="count" style="color:#e6e9e4;font-size:30px">NEW </div>
                <h3 style="color:#e6e9e4">Booking</h3>
                <p style="color:#fff">Create Appoinment for Doctor Consultation</p>
            </div>
        </div>
        <a href="@Url.Action("create","MobUser")">
            <div class="animated flipInY col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="tile-stats" style="border:2px solid #1c6cbc;background-color:#1c6cbc">
                    <div class="icon"><i class="fa fa-upload"></i></div>
                    <div class="count" style="color:#e6e9e4;font-size:30px">UPDATE</div>
                    <h3 style="color:#e6e9e4">Consultation Status</h3>
                    <p style="color:#fff">Live Consultation Status Updates</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("create","MobUser")">
            <div class="animated flipInY col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="tile-stats" style="border:2px solid #1c6cbc;background-color:#1c6cbc">
                    <div class="icon"><i class="fa fa-phone"></i></div>
                    <div class="count" style="color:#e6e9e4;font-size:30px">Register</div>
                    <h3 style="color:#e6e9e4">App User</h3>
                    <p style="color:#fff">Quick Mobile App Registration</p>
                </div>
            </div>
        </a>
        <div class="animated flipInY col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="tile-stats" style="border:2px solid #1c6cbc;background-color:#1c6cbc">
                <div class="icon"><i class="fa fa-bell-o"></i></div>
                <div class="count" style="color:#e6e9e4;font-size:30px">SEND</div>
                <h3 style="color:#e6e9e4">Notification</h3>
                <p style="color:#fff">Common Notifications/News Letters </p>
            </div>
        </div>
        <div class="animated flipInY col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="tile-stats" style="border:2px solid #1c6cbc;background-color:#1c6cbc">
                <div class="icon"><i class="fa fa-user-md"></i></div>
                <div class="count" style="color:#e6e9e4;font-size:30px">CHECK</div>
                <h3 style="color:#e6e9e4">Doctor's Availability</h3>
                <p style="color:#fff">View Doctor's Time Table & Availability</p>
            </div>
        </div>


        <a href="@Url.Action("create","MobUser")">
            <div class="animated flipInY col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="tile-stats" style="border:2px solid #1c6cbc;background-color:#1c6cbc">
                    <div class="icon"><i class="fa fa-download"></i></div>
                    <div class="count" style="color:#e6e9e4;font-size:30px">DOWNLOAD</div>
                    <h3 style="color:#e6e9e4">Booking List</h3>
                    <p style="color:#fff">View/Download/Print Booking List</p>
                </div>
            </div>
        </a>
    </div>


</div>